/* Auth-page */

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 40px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}








.btn-tag {
  background-color: #eceff1;
  text-transform: capitalize !important;
  margin-bottom: 10px;
  box-shadow: none;
}
.btn.btn-rounded { border-radius: 50px }



/* Match field */
.matches-container {
    height: 300px;
    overflow: scroll;
  }
  
  .matches-container .match-list {
    margin-top: 16px;
  }
  
  .match-field{
    color: black;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
  
    width: 100%;
    height: 80px;
    background-color: white;
    padding: 0 10px;
  }
  .match-field:hover{
    color: white;
    background-color: red;
  }
  
  .match-field-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .match-field-radiant-team{
    width: 40%;
    display: flex;
    justify-content: flex-start;
  }
  
  .match-field-score{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .match-field-date{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
  }
  
  .match-field-date-day{
  
  }
  
  .match-field-date-time{
  
  }
  
  .match-field-dire-team{
    width: 40%;
    display: flex;
    justify-content: flex-end;
  }
  
  .match-field-footer{
    width: 100%;
    text-align: end;
    /* background-color: #f0f0f0; */
  }
  
  /* Match field end */
  
  
  /* Custom card styles */
  
  .card {
    border-radius: 2px !important;
    border: #242628  1px solid !important;
  }
  
  .card-header{
    border-radius: 0px !important;
    color: white !important;
  }
  
  .card-title {
    font-weight: bolder;
    margin-left: 10px;
  }
  
  .card-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0.5rem;
  
  }
  .teams-data {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    grid-gap: 10px;
  }
  
  .small-date{
    font-size: 10px;
  }
  
  .game-duration{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .game-score{
    font-size: 22px;
    font-weight: 700;
  }
  
  .icon{
    width: 25px;
    height: 25px;
  }
  
  .team-logo{
    width: 50px;
    height: 40px;
  }
  
  .team-radiant{
  display: flex;
  justify-content: start;
  align-items: center;
  }
  
  .team-dire{
  display: flex;
  justify-content: end;
  align-items: center;
  }
  
  .small-icon {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  }
  
  /* Global */
  a{
    text-decoration: none !important;
  }
  
  body
  {
    background-color:#141019;
    /* background: radial-gradient(at 50% -20%, #570909, #0d060e) fixed; */
  
    background: radial-gradient(at 50% -20%, #353942, #0d060e) fixed;
  }
  
  
  #handboy
  {
     animation: swing ease-in-out 1.3s infinite alternate;
      transform-origin: 98% 98%;
      transform-box: fill-box;
      
  }
  
  
  #girllight
  {
     animation: swing ease-in-out 1.3s infinite alternate;
      transform-origin: 0% 97%;
      transform-box: fill-box;
  }
  
  #hairgirl
  {
      animation: swinghair ease-in-out 1.3s infinite alternate;
     transform-origin: 60% 0%;
      transform-box: fill-box;
    
  }
  
  #zero
  {
    transform-origin:bottom;
    transform-box:fill-box;
    
  }
  
  /*************swing************/
  @keyframes swing {
      0% { transform: rotate(10deg); }
      100% { transform: rotate(-10deg); }
  }
  
  
  /*************swing hair************/
  @keyframes swinghair {
      0% { transform: rotate(6deg); }
      100% { transform: rotate(-6deg); }
  }

@tailwind base;
@tailwind components;
@tailwind utilities;